apiVersion: v1
kind: Namespace
metadata:
  name: cert-manager
---
apiVersion: v1
kind: Secret
metadata:
  name: domeneshop-credentials
  namespace: cert-manager
type: Opaque
data:
  token: "{{ lookup('ansible.builtin.env', 'K3S_DOMENESHOP_CREDENTIALS_TOKEN') | b64encode }}"
  secret: "{{ lookup('ansible.builtin.env', 'K3S_DOMENESHOP_CREDENTIALS_SECRET') | b64encode }}"