apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: "{{ argo_cd.namespace }}"
resources:
  - https://raw.githubusercontent.com/argoproj/argo-cd/v{{ argo_cd.version }}/manifests/install.yaml